.container{
    height: 97vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    padding: 1rem;
    box-sizing: border-box;
  
}

.form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 60%;
    max-width: 300px;
    padding: 2rem;
    border-radius: 10px;
    border: 1px solid gray;
    box-shadow: 0px 0px 4px 4px lightblue;
    background-color: white;
}

.button{
    align-self: center;
    width: 30%;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    background-color: rgb(63, 81, 181) !important; 
}

.title {
    text-align: center;
    margin-bottom: 1rem;
    color: #333;
  }
  