.img{
   width: 130px;
   height: 150px;
}

.card-container{
    display: flex;
    flex-direction: row;
    /* gap:2rem; */
}

.card{
    width: 150px;
    height: auto;
    border-radius: 10px;
    /* justify-content: center; */
    display: contents;
    /* gap:3rem */
}

